body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        135deg,
        #fff7e6,
        #ffe4b5
    );

    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 30px;
    background: white;

    box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

h1 {
    color: #ff6b35;
}

.hero {
    text-align: center;
    padding: 40px;
}

button {
    background: #ff6b35;
    color: white;

    border: none;

    padding: 12px 20px;

    border-radius: 10px;

    margin: 5px;

    cursor: pointer;
}

button:hover {
    background: #e55a2b;
}
