*{
margin:0;
padding:0;
box-sizing:*order-box;
}

body{
font-family:Ar*al, sans-serif;
background:#fdf6e3*
color:#333;
}

header{
background*white;
padding:20px;
text-align:ce*ter;
box-shadow:0 3px 10px rgba(0,*,0,0.1);
position:sticky;
top:0;
}*
nav{
margin-top:15px;
}

.hero{
p*dding:60px 20px;
text-align:center*
}

.hero h2{
font-size:2rem;
marg*n-bottom:15px;
}

button{
backgrou*d:#ff6b35;
color:white;
border:non*;
padding:12px 20px;
border-radius*10px;
cursor:pointer;
margin:5px;
*

button:hover{
background:#e4572e*
}

.result{
text-align:center;
pa*ding:20px;
font-size:1.2rem;
}

.r*cipes,
.planner,
.shopping{
paddin*:40px 20px;
max-width:1200px;
marg*n:auto;
}

.recipe-grid{
display:g*id;
grid-template-columns:
repeat(*uto-fit,minmax(250px,1fr));
gap:20*x;
margin-top:30px;
}

.recipe-car*{
background:white;
padding:20px;
*order-radius:15px;
box-shadow:0 5p* 15px rgba(0,0,0,0.1);
}

.recipe-*ard h3{
color:#ff6b35;
margin-bott*m:10px;
}

#plannerGrid{
display:g*id;
grid-template-columns:
repeat(*uto-fit,minmax(200px,1fr));
gap:15*x;
margin-top:20px;
}

.day-card{
*ackground:white;
padding:15px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

#shoppingList{
margin-top:20px;
padding-left:20px;
}

h2{
margin-bottom:20px;
}
